.titolo {
	font-family: Helvetica;
	font-size: 52px;
	font-style: normal;
	text-align: center;
	font-weight: bold;
	color: #8a0f0f;
}

.titoletto {
	font:"Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	text-align: left;
	font-weight: bold;
	color: #8a0f0f;
	}
	
.anno {
	font-family: Helvetica;
	font-size: 75%;
	font-style: normal;
	text-align: center;
	font-weight: bold;
	color: #8a0f0f;
}

.dates, .committee, .submittable, .schedule	{ border: solid #8a0f0f 4px }

.antetitolo {
	font:"Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	text-align: center;
	font-weight: bold;
	color: #8a0f0f;
}

.sottotitolo {
	color: #8a0f0f;
	font-size: 18px;
	text-align: center;
	font:"Times New Roman", Times, serif;
}

.sottotitoloLeft {
	color: #8a0f0f;
	font-size: 18px;
	text-align: left;
	font:"Times New Roman", Times, serif;
}

.testoNormale {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
}

.testoNormaleRosso {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #8a0f0f;
}

.testoNormaleBlu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #000066;
}

.testoPiccolo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-align:left;
}

.pulsanti {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	text-transform: capitalize;
	color: #8a0f0f;
	text-align: left;
	font-variant: normal;
}

a:link {
	text-decoration: none;
	font-style: normal;
	color: #990000;
}
a:hover {color: #993300; text-decoration:underline}
a:visited {
	text-decoration:none;
	color: #993300;
}

body,td,th {
	color: #000000;
}
body {
	background-color: #CCCC00;
}
