p{font-size:12pt;text-align:justify;} 
h1{font-size:18pt;text-align:center;color:red;}
h2{font-size:15pt;text-align:center;}
h3{font-size:12pt;text-align:center;}
ul{list-style-type:none;}
body{background-image:url("./fond.jpg");margin-bottom:20px;}
table{margin-left:1px;margin-right:1px;}
td{padding-top:10px;}