a {
    cursor: pointer;
}
body {
    margin:0;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

header {
    background: #f4f5f6
}

footer {
    margin-top: 50px;
    min-height: 100px;
    background: #f4f5f6;
    border-top: .1rem solid #d1d1d1;
}

/**
 * Sticky navigation
 */
 .sticky {
	background-color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	bottom: 0;
}

.main-nav {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    width: 100%;
    z-index: 2;
}
.main-nav .navigation-list {
    list-style:none;
    margin-bottom:0;
    margin-right:0
}

.main-nav .navigation-item {
    float:left;
    margin-bottom:0;
    margin-left:2.5rem;
    position:relative
}

.main-nav .navigation-link, .main-nav .navigation-title, .main-nav .title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}


.main-nav-toggle {
    display: none;
}

/* Sticky menu replaced by burger menu */
@media(max-width: 30em) {

    .main-nav-toggle {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 5px;
        height: 69px;
        padding: 27px;
    }
    
    .main-nav-toggle span
    {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #131313;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    .main-nav-toggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    .main-nav-toggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    .main-nav.open .main-nav-toggle span
    {
      opacity: 1;
      transform: rotate(-45deg) translate(-3px, -1px);
      /*background: #36383F;*/
    }
    .main-nav.open .main-nav-toggle span:nth-last-child(2)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    .main-nav.open .main-nav-toggle span:nth-last-child(3)
    {
      transform: rotate(45deg) translate(0, -1px);
    }
    

    .main-nav {
        position: fixed;
        top: unset;
        height: 70px;
    }
    .main-nav .navigation-list {
        position: absolute;
        transform: translate(150%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        bottom: 0;
        right:0;
        background: #f4f5f6;
        padding-right: 90px;
        margin-right: 0px;
        box-shadow: -4px -4px 5px #0000001c;
    }
    .main-nav.open .navigation-list {
        transform: none;
    }
    .main-nav .navigation-item {
        display: block;
    }
    .main-nav .navigation-item {
        float:none;
    }
}


/* Sections */


section {
    padding-top:40px
}

article {
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    background: rgb(236, 236, 236);
    color: rgba(32, 32, 32, 0.89);
}


.title, .sub-title {
    font-weight: bold;
}



/**
Jumbo
*/

.jumbo {
    position: relative;
    height: calc(100vh - 52px);
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.89);
    min-height: 650px;
}
.jumbo-cover {
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#jumbo-overlay {
    opacity: .7;
    background-color: #673ab7;
    background-color: rgba(6, 12, 34, 0.98);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    -webkit-transition: opacity var(0.5s,.4s);
    transition: opacity var(0.5s,.4s);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.submission-instructions, .important-dates {
    width:330px
}
.important-dates {
    margin-right: 10px;
    margin-bottom: 10px;
}



h1, h2, h3, h4, h5 {
    color: #902cb5; 
}


.jumbo .on-background {
    color: rgba(255, 255, 255, 0.89)
}

a {
    color: #19abf2;
}

@media(max-width: 30em) {
    .submission-instructions, .important-dates {
        width: 100%;
    }
    h1 {
        font-size: 2.7rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.8rem;
    }
}